/* Reset css and default css */
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    width: 1500px;
}
.row{
    margin:0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
}

/* --------- Navigation 1 -------- */

.navigation ul{
    background-color: #093f65;
    overflow: hidden;
}

.navigation ul li {
    float: right;
    padding: .5rem 0;
}

.navigation ul li a{
    display: block;
    color: #fff;
    padding: 0 .3rem;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    border-right: 1px solid #fff;
}

/* nav hover */

.navigation ul li a:hover {
    color: #f27a2e;
    text-decoration: none;
}

/* nav left */

.navigation div.nav-left{
    padding-left: 16rem;
}

.navigation div.nav-left li {
    float: left;
}

.navigation div.nav-left li a{
    border: none;
}
/* nav right */

.navigation div.nav-right{
    padding-right: 16rem;
}


/*-------- Navigation 2 ---------*/

.navigation-2{
    height: 100px;
    border-bottom: 5px solid #093f65;
}

.navigation-2 .nav-logo{
    float:left;
	height:100px;
    line-height:100px;
    padding-left: 16rem;
}
.navigation-2 ul li {
    float: right;
    line-height: 100px;
}

.navigation-2 ul li a {
    color: #093f65;
    padding-right: 1.5rem;
}

.navigation-2 ul .nav-2-right{
    padding-right: 16rem;
}

/* Navigation 2 hover */

.navigation-2 ul li a:hover{
    color: #f27a2e;
    text-decoration: none;
}

/*--------- section 1 ----------*/
section.section-1{
    padding-bottom: 16rem;
}

section.section-1 ::placeholder {
    font-weight: 600;
    color: #093f65;
    opacity: 1; /* Firefox */
  }
  section.section-1 ::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #093f65;
  }
  section.section-1 ::-ms-input-placeholder { /* Microsoft Edge */
    color: #093f65;
  }

.reading{
    background-image: url(images/reading.png);
    background-repeat: no-repeat;
    height: 650px;
    background-size: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}
/* Header lines */

.reading .headline{
    position: absolute;
    top: 10rem;
    left: 10rem;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    text-align: center;
}

/* address box */

.address-box{
    position: absolute;
    left: 20rem;
    top: 24rem;
    height: 120px;
    background: rgb(235, 235, 235);
    width: 60%;
    margin: auto;
    border-radius: 3px;
}

.address-box label{
    font-size: .9rem;
    font-weight: 600;
    color: #f27a2e;
    padding-top: 1rem;
}

.input-style{
    padding: .6rem 1rem;
}

td{
    padding-left: 1rem;
}

/* image1 box */

.like-box-1 img{
    height: 280px;
    position: absolute;
    top: 44rem;
    left: 15rem;
    z-index: -1;
}

/* image1-content */

.like-content-1{
    position: absolute;
    top: 45rem;
    left: 40rem;
    padding-bottom: 4rem;
    width: 500px;
}

.like-content-1 h3{
    color: #f27a2e;
    padding-bottom: 1rem;
}

/* ---------Section-2--------- */

.section-2 .col-6{
    padding: 0;
}

.image1-box{
    width: 100%;
    color: #fff;
    background-color: #093f65;
    object-fit: contain;
}

.image1-box img, .image2-box img {
    max-width: 100%;
    filter: brightness(50%);
}

.section-2 .image1-content, .section-2 .image2-content{
    padding: 3rem;
    padding-bottom: 1rem;
}

.section-2 .image1-content h3{
    color: #f27a2e;
}

.section-2 .image2-box{
    color: #fff;
    background-color: #f27a2e;
}

/* Handle box */

.handle-box{
    width: 100%;
    height: 700px;
    background: url(images/handle.jpeg);
    background-repeat: no-repeat;
    background-size: contain, cover;
    padding: 5rem 0 0 5rem;
}

.blue-pearl{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    height: 26rem;
    width: 40rem;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    background-color: #093f65;
    border-radius: 60%;
    padding: 4rem;

}


/* --------Section 3-------- */
  
/* blur box */
.blur-box{
    height: 1000px;
    width: 100%;
    background-image: url(images/blurBg.jpeg);
    background-size: contain, cover;
    position: relative;
}

.blur-box img {
    height: 500px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(50%);
}

/* form box */

.form-box{
    height: 420px;
    width: 100%;
    background-color: #093f65;
}

.form-box form{
    padding-top: 3rem;
}

.form-box input{
    padding: 1rem;
    margin: .5rem;
}

.form-box .submit-btn{
    background-color: #f27a2e;
    color: #fff;
    font-weight: 500;
    padding: 1rem 9rem;
}

.form-box .submit-btn:hover{
    color: #093f65;
}

.form-box img {
    float: right;
    height: 400px;
    padding-top: 3.5rem;
}


/* -------footer-------- */

footer{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 800;
    background-color: #ebe9e4;
}


.copyright{
    font-size: 15px;
    font-weight: 800;
    vertical-align: middle;
    position: relative;
    top: -1px;
}